.card{
    margin: 0 auto;
    width: 60%;
    letter-spacing: 0.2dvh;
    margin-top: 3dvh;
    margin-bottom: 10dvh;
    background-color: black;
    color: white;
}

.card-deck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-qr{
    width: 20%; 
}

.card-img-top{
    width: 35%;
    margin: 0 auto;
}

.qr-download{
    margin: 0 auto;
}

li > span {
    color: red;
}

.user-name{
    font-size: 4dvh;
}

.row{
    background-color: white;
}

@media only screen and (max-width: 750px) {
    .card-qr{
        width: 80%;
        margin: 0 auto;
    }
    .card-img-top{
        width: 80%;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1200px) {
    .card-qr{
        width: 30%; 
    }

    .card-img-top{
        width: 70%;
    }
}