#logout{
    cursor: pointer;
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
    letter-spacing: .3dvh;
    display: flex;
    position: fixed;
    z-index: 100000;
    top: 0;
    width: 100%;
    background-color: black !important;
    /* background-image: linear-gradient(to right, black , #990000); */
    height: 80px;
}

button{
    border: 1px solid wheat;
    width: 35px;
    height: 30px;
    padding: 0;
}

button > i{
    font-size: 20px !important;
}

.navbar-collapse{
    background: black;
    padding-left: 15px;
}

a {
    color: white;  
    font-size: 2.5dvh;  
}

a :hover, :active, :focus {
    color: rgb(255, 255, 255) !important;
}

#admin {
    color: red !important;
    margin: 0px;
}

.navbar-nav li :hover, :active, :focus {
    color: rgb(255, 255, 255) !important;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: rgb(170, 0, 0);  
}

.navbar-nav > li > .dropdown-menu > a:hover { 
    color: red !important;  
}

.navbar-brand{
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 1000px){
    .navbar-brand{
        width: 65px;
        height: 65px;
    }
    
}