<div *ngIf="untzUser" class="container">
    <div class="main-body">        
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{untzUser.firstName}} {{untzUser.lastName}}</h4>
                      <p class="text-secondary mb-1">{{untzUser.email}}</p>
                      <button class="btn btn-outline-danger role" disabled>{{getRole(untzUser)}}</button>                      
                    </div>
                  </div>
                </div>
              </div>            
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0 myInfo">My Info</h6>
                    </div>
                 </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{untzUser.firstName}} {{untzUser.lastName}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{untzUser.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{untzUser.phoneNumber}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{untzUser.userName}}
                    </div>
                  </div>               
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-outline-danger btnEdit" (click)="editInfo()">Edit</button>                       
                    </div>                    
                  </div>
                </div>
              </div>
            <p class="myTickets">My Tickets</p>
            <hr class="myTicketsBreak">
            <p *ngIf="purchasedTickets && purchasedTickets.length === 0" class="noTickets">No purchased Tickets</p>
              <div class="row gutters-sm">
                <div *ngFor="let ticket of purchasedTickets" class="col-sm-6 mb-3 myTicketCard">
                  <div class="card h-100">
                    <div class="card-body" (click)="navigateToEvent(ticket.reference)">
                      <h6 class="d-flex align-items-center mb-3">#Ref: {{ticket.reference}}</h6>
                      <h6 class="d-flex align-items-center mb-3">{{ticket.ticket.event.name}}</h6>
                      <table class="ticketInfoTable">
                        <tr>
                            <td class="ticketInfoHeader">Ticket Category</td>
                            <td>{{ticket.ticket.name}}</td>
                        </tr>
                        <tr>
                            <td class="ticketInfoHeader">Ticket Price & count</td>
                            <td>{{ticket.ticket.price}} X {{ticket.noOfTickets}}</td>
                        </tr>
                        <tr>
                            <td class="ticketInfoHeader">Purchased Date</td>
                            <td>{{ticket.createdTime}}</td>
                        </tr>
                      </table>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>