
.container{
    margin-bottom: 10dvh;
}

.main-body {
    padding: 15px;
    letter-spacing: 0.2dvh;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    background-color: black;
    color: white;
    border: 1px solid;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100%!important;
}

.shadow-none {
    box-shadow: none!important;
}

.myTickets{
    color: white;
    margin-bottom: 0;
    font-size: 3dvh;
}

.myTicketsBreak{
    border: none;
    height: 1px;
    background-color: white;
    margin-top: 0.2dvh;
}

.myInfo{
    color: red;
    font-size: 3dvh;
}

.btnEdit:hover{
    background-color: red;
}

.role{
    background-color: red;
    color: white;
    letter-spacing: 0.2dvh;
}

.myTicketCard{
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
}

.myTicketCard:hover{
    transform: scale(0.96);
}

.ticketInfoTable{
    border: 1px solid black;
    width: 100%;
}

.ticketInfoTable > tr > td{
    border: 1px solid black;
    padding: 5PX;
}

.ticketInfoHeader{
    color: red;
}

.noTickets{
    color: white;
}

h6{
    margin-bottom: 0.1dvh !important;
}

.rounded-circle{
    border: 1px solid;
}

@media only screen and (max-width: 1000px) {
    .myTicketCard{
        width: 100%;
    }
    
}