<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
		</modules>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\UntzApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
<system.net>
	<mailSettings>
		<smtp from="info@untzuntz.ae">
			<network host="relay-hosting.secureserver.net" port="25" />
		</smtp>
	</mailSettings>
</system.net>
</configuration>
<!--ProjectGuid: 39A6587B-3580-4D3C-91BB-D737F5F785ED-->