.jumbotron{
    width: 80%;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 12dvh;
    letter-spacing: 0.2dvh;
    padding: 5dvh;
    border: 1px solid;
}