@import "@fontsource/black-ops-one";

.mainContainer {
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-bottom: 10dvh;
}

.mainEvent {
    margin-top: 3dvh;
    height: 50vh;
    position: relative;
}

.mainEventImage {
    width: 100%;
    cursor: pointer;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 30000;
    border: none;
    
}
.videoContainer {
    height: 70vh;
    width: 100%;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: fixed;
    top: 0px;
    left: 0px;
}

.countDown {
    font-size: 6dvh;
    letter-spacing: 0.5dvh;
    font-weight: bold;
    /* font-family: "Black ops one"; */
    line-height: inherit;
    color: red;
    margin-top: 3dvh;
}

.countDown>h1 {
    font-size: 10dvh;
}

.d_leftSide>h1 {
    margin: 0;
    font-size: 10vh;
}

.d_rightSide>h1 {
    margin: 0;
    font-size: 10vh;
}

h1 {
    font-size: clamp(25px, 8vw, 10vh) !important;
}

.findOut {
    width: clamp(192px, 60vw, 230px);
    cursor: pointer;
}

.findOut > h2{
    margin: 0;
    padding: 0;
    letter-spacing: 0.2dvh;
}

@media only screen and (max-width: 500px) {
    .videoContainer {
        height: 30vh;
    }

    /* h1{
        font-size: 25px !important;
    } */
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    .mainEvent {
        height: 30vh;
    }

    .videoContainer {
        height: 40vh;
    }

    /* h1{
        font-size: 50px !important;
    } */
}

@media only screen and (min-width: 800px) and (max-width: 1300px) {
    .mainEvent {
        height: 30vh;
    }

    .videoContainer {
        height: 50vh;
    }

    /* h1{
        font-size: 10vh !important;
    } */
}